/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
    min-height: 100vh;
    font-weight: 400;
    margin-bottom: 4rem;
    background-color: black;

}

div.form-input {
  position: relative;
}

.form-input {
  position: absolute;
  top: 0;
  right: 0;
}


container {
  max-width: 400px;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
div {
  border: 1px solid red;
}